.mainCity {
    border-bottom: solid 1px;
    border-top: solid 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    position: relative;
}

.addButton {
    position: absolute;
    right: 30px;
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px;
    font-size: 25px;
    cursor: pointer;
}

.addButton:active {
    background-color: lightgray;    
}