.navBar {
    display: flex;
    justify-content: space-between;
}

.navBarLeft {
    display: flex; 
}

.navBarLeft .item {
    margin-left: 10px;
    margin-right: 10px;    
}

.navBarLeft .item a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.navBarLeft .item a.activeLink {   
    border-radius: 5px;
    background-color: lightgray;    
  }

.selectCity {
    width: 250px;
}