.googleMap {
    width: 600px;
    height: 400px;
}

@media only screen and (max-width: 600px) {
    .googleMap {
        width: 400px;
        height: 400px;
    }
}

@media only screen and (max-width: 400px) {
    .googleMap {
        width: 320px;
        height: 320px;
    }
}